html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Manrope";
}

.container {
  max-width: 1280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.main_bg {
  background-image: url(../assets/images/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1c1c1c;
}

footer {
  margin-top: auto;
}
