.hero {
  background-image: url("../../../../assets/images/home-hero@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 415px;
  position: relative;
  background-position: center;
}

.hero-btns {
  display: flex;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: -20px;
}

.hero-btn-1 {
  background: rgb(0, 64, 221);
  display: flex;
  align-items: center;
  border: none;
  color: #fff;
  border-radius: 50px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  background: rgb(0, 64, 221);
  gap: 6px;
}

.hero-btn-2 {
  background-color: white !important;
  display: flex;
  align-items: center;
  border: none;
  color: #000000;
  border-radius: 50px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  background: rgb(0, 64, 221);
  gap: 6px;
}

// hero-home-res

@media only screen and (max-width: 550px) {
  .hero {
    background-image: url("../../../../assets/images/hero-home-res.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 415px;
    position: relative;
    background-position: top;
  }

  .hero-btns {
    display: flex;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: -20px;
  }

  .hero-btn-1 {
    background: rgb(0, 64, 221);
    display: flex;
    align-items: center;
    border: none;
    color: #fff;
    border-radius: 50px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    background: rgb(0, 64, 221);
    gap: 6px;
  }

  .hero-btn-2 {
    background-color: white !important;
    display: flex;
    align-items: center;
    border: none;
    color: #000000;
    border-radius: 50px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    background: rgb(0, 64, 221);
    gap: 6px;
  }
}
