.hero {
  background-image: url("../../../../assets/images/home-hero@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 415px;
  position: relative;
  background-position: center;
  margin-top: 190px;
}

.hero-btns {
  display: flex;
  align-items: center;
  gap: 30px;
  position: absolute;
  z-index: 9;
  top: -20px;
}

.hero-btn-1 {
  background: rgb(0, 64, 221);
  display: flex;
  align-items: center;
  border: none;
  color: #fff;
  border-radius: 50px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  background: rgb(0, 64, 221);
  gap: 6px;
}

.hero-btn-2 {
  background-color: white !important;
  display: flex;
  align-items: center;
  border: none;
  color: #000000;
  border-radius: 50px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  background: rgb(0, 64, 221);
  gap: 6px;
}

.hero-title {
  color: rgb(255, 255, 255);
  font-family: Manrope;
  font-size: 22px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0%;
  padding: 50px 0;
  max-width: 1021px;
  width: 100%;
}
.sticky_top {
  position: sticky;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 80px;
  backdrop-filter: blur(94px);
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 10px 20px 10px;
}
.sticky {
  position: fixed;
  right: 200px;
  bottom: 50px;
  z-index: 1111;
}
.users-bg {
  background-image: url("../../../../assets/images/users-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 415px;
  background-position: center;
}
// hero-home-res
@media only screen and (max-width: 580px) {
  .hero {
    margin-top: 102px;
  }
}

@media only screen and (max-width: 550px) {
  .hero {
    background-image: url("../../../../assets/images/hero-home-res.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 222px;
    position: relative;
    background-position: top;
  }

  .hero-btns {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    position: absolute;
    top: -20px;
    z-index: 9;
  }

  .hero-btn-1 {
    background: rgb(0, 64, 221);
    display: flex;
    align-items: center;
    border: none;
    color: #fff;
    border-radius: 50px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    background: rgb(0, 64, 221);
    gap: 6px;
  }

  .hero-btn-2 {
    background-color: white !important;
    display: flex;
    align-items: center;
    border: none;
    color: #000000;
    border-radius: 50px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    background: rgb(0, 64, 221);
    gap: 6px;
  }

  .hero-title {
    color: rgb(255, 255, 255);
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    padding: 50px 0;
    max-width: 1021px;
    width: 100%;
  }
  .sticky_top {
    position: sticky;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 80px;
    backdrop-filter: blur(94px);
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 10px 20px 10px;
  }
  .sticky {
    position: fixed;
    right: 200px;
    bottom: 50px;
    z-index: 1111;
  }
  .users-bg {
    background-image: url("../../../../assets/images/users-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 415px;
    background-position: center;
  }
}
